html {
    scroll-behavior: smooth;
}


body {
    font-family: Manrope;
}

.header-full {
    width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
}

.first-main-text {
    width: 956px;
    height: 120px;
    margin-top: 128px;
    margin-left: 125px; 
    margin-bottom: 30px;
    text-align: left;
    font-family: Manrope;
    font-weight: 200;
    font-size: 60px;
    line-height: 60px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);;
}

.header-logo {
    position: relative;
    width: 1150px;
    height: 500px;
    margin-left: 125px;
    margin-bottom: 150px;
    border-radius: 74px;
    background-image: url(/resources/rectangle1.png);
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow:  0px 10px 5px -4px rgba(0, 0, 0, 0.25); 
}

.up-image-header-text {
    position: absolute;
    width: 430px;
    height: 81px;
    bottom: 40px;
    left: 40px;
    text-align: left;
    color: white;
    font-family: Manrope;
    font-weight: 200;
    font-size: 20px;
    line-height: 27px;
}

.text-about-us {
    width: 60px;
    height: 24px;
    margin-left: 125px;
    margin-bottom: 31px;

    font-family: Manrope;
    font-weight: 200;
    font-size: 18px;
    line-height: 25px;
}

.description-about-us {
    width: 1048px;
    margin-left: 128px;
    margin-bottom: 29px;

    font-family: Manrope;
    font-weight: 200;
    font-size: 45px;
    line-height: 61px;
}

.more-services {
    border-radius: 5px;
    display: block;
    border: 1px solid #AD1818;
    background-color:#AD1818;
    
    width: 249px;
    height: 67px;

    margin-left: 125px;
    margin-top: 29px;

    font-family: Manrope;
    font-weight: 200;
    font-size: 20px;
    line-height: 67px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.more-services:hover {
    border-radius: 5px;
    display: block;
    border: 1px solid #AD1818;
    background-color: white;
    
    width: 249px;
    height: 67px;

    margin-left: 125px;
    margin-top: 29px;

    font-family: Manrope;
    font-weight: 200;
    font-size: 20px;
    line-height: 67px;
    text-align: center;
    text-decoration: none;
    color: #AD1818;
}



.item__block { 
    display: block;
    padding-left: 125px;

}

.item__title {
    margin-top: 150px;
    margin-bottom: 31px;
    width: 76px;
    height: 24px;
    
    font-family: Manrope;
    font-weight: 200;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -3%;
    text-align: left;   
}

.item__image-1 {
    padding-bottom: 15px;
    width: 1150px;
    height: 450px;

}

.item__name-1 {
    width: 600px;
    height: 41px;
    padding-bottom: 15px;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: 0.03em;
    
}

.item__link { 
    color: #AD1818;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.item__content__block {
    margin-bottom: 90px;
}

.item__button__more {
    border-style: solid;
    display: block;
    width: 1150px;
    height: 153px;
    margin-bottom: 150px;
    cursor: pointer;

    font-family: Manrope;
    font-weight: 200;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: 0.03em;

    background-image: none;
    border-color: #AD1818;
    background-color: white;
    color: #AD1818;
}

.item__button__more:hover {
    background-color: #AD1818;
    color: white;
}

.services__block {
    display: block;
    box-sizing: border-box;
    
    padding-left: 125px;
    padding-right: 125px;
    padding-top: 150px;
    
    height: 1810px;
    background-color: #121212; 
}

.services__main__text {
    width: 65px;
    height: 24px;
    line-height: 25px;
    padding-left: 2px;
    margin-bottom: 35px;

    font-size: 18px;
    letter-spacing: 0.03em;
    color: white;
}

.service__image {
    margin-bottom: 15px;
    width: 1150px;
    height: 270px;
}

.service__description {
    width: 540x;
    height: 41px;
    line-height: 41px;
    text-align: left;
    margin-bottom: 60px;

    font-size: 30px;
    letter-spacing: 0.03em;
    color: white;
    font-weight: 200px;
}

.service__last__description {
    width: 540x;
    height: 41px;
    line-height: 41px;
    text-align: left;
    margin-bottom: 110px;

    font-size: 30px;
    letter-spacing: 0.03em;
    color: white;
    font-weight: 200px;
}

.navigation__block {
    min-width: 1200px;
}

.nav__container {
    
    width: 1200px;
    height: 26px;
    margin: 0 auto;
    

    margin-top: 33px;


}

.logo__link {
    display: inline-block;
}

.logo__image {
    display: block;
    width: 127px;
    height: 22px;


}

.nav {
    display: inline-block;
    vertical-align: top;
   
    margin-left: 558px;
    
    
    
}

.nav__link1 {
    display: inline-block;
    width: 50px;
    height: 24px;
    text-decoration: none;
    line-height: 25px;
    opacity: 0.6;
    color: #121212; 
}


.nav__link2 {
    display: inline-block;
    width: 76px;
    height: 24px;

    line-height: 25px;
    margin-left: 61px;
    text-decoration: none;

    color: #121212; 
}

.nav__link3 {
    display: inline-block;
    width: 65px;
    height: 24px;
    
    line-height: 25px;
    margin-left: 63px;
    text-decoration: none;
    color: #121212; 

}

.nav__link4 {
    display: inline-block;
    width: 86px;
    height: 24px;
    line-height: 25px;
    margin-left: 61px;
    text-decoration: none;
    color: #121212; 
}

.project__example {
    position: relative;
    height: 717px;
    background-image: url(/resources/rectangle10.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}


.example__container {
    position: absolute;
    width: 480px;
    height: 82px;

    left: 105px;
    bottom: 60px

}

.example__text {
    text-align: left;
    letter-spacing: -3%;
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;   
}

.contacts__block {
    height: 553px;

}

.contacts__info__block{
    margin-top: 186px;
    margin-left: 124px;

    

}

.contact__text__logo {
    width: 88px;
    height: 24px;

    font-size: 18px;
    line-height: 25px;
    letter-spacing: -3%;
    text-align: left;
    color: black;
}

.contact__text__logo:before{
    content: '';
    display: block;
    margin-bottom: 12px;
    width: 24px;
    height: 24px;

    background-image: url(/resources/phone_logo.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact__number {
    
    padding-top: 63px;
    padding-bottom: 30px;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -3%;
    text-align: left;
    color: black;
}

.contact__mail {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -3%;
    text-align: left;
    color: black;
    opacity: 0.6;

    text-decoration: underline;
    text-underline-offset: 9px;
}

