

.first-main-text {
    width: 956px;
    height: 120px;
    margin-top: 128px;
    margin-left: 125px; 
    margin-bottom: 30px;
    text-align: left;
    font-family: Manrope;
    font-weight: 200;
    font-size: 60px;
    line-height: 60px;
    
    
}

.header-logo {
    width: 1150px;
    height: 500px;
    margin-left: 125px;
    margin-bottom: 150px;
    border-radius: 74px;
    background-image: url(/resources/rectangle1.png);
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow:  0px 10px 5px -4px rgba(0, 0, 0, 0.2);
    
}

.up-image-header-text {
    width: 430px;
    height: 81px;
    padding-top: 379px;
    padding-left: 40px;
    text-align: left;
    
    color: white;
    font-family: Manrope;
    font-weight: 200;
    font-size: 20px;
    line-height: 27px;
}

.text-about-us {
    width: 60px;
    height: 24px;
    margin-left: 125px;
    margin-bottom: 31px;

    font-family: Manrope;
    font-weight: 200;
    font-size: 18px;
    line-height: 25px;
}

.description-about-us {
    width: 1048px;
    margin-left: 128px;
    margin-bottom: 29px;

    font-family: Manrope;
    font-weight: 200;
    font-size: 45px;
    line-height: 61px;
}

.more-services {
    border-radius: 5px;
    display: block;
    border: 1px solid #AD1818;
    background-color:#AD1818;
    
    width: 249px;
    height: 67px;

    margin-left: 125px;
    margin-top: 29px;

    font-family: Manrope;
    font-weight: 200;
    font-size: 20px;
    line-height: 67px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.more-services:hover {
    border-radius: 5px;
    display: block;
    border: 1px solid #AD1818;
    background-color: white;
    
    width: 249px;
    height: 67px;

    margin-left: 125px;
    margin-top: 29px;

    font-family: Manrope;
    font-weight: 200;
    font-size: 20px;
    line-height: 67px;
    text-align: center;
    text-decoration: none;
    color: #AD1818;
    
}

.header-full {
    width: 1150px;
    height: 650px;
    margin: 0 auto;
    box-sizing: border-box;
}